
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-caller:before { content: "\e607"; }
.icon-information:before { content: "\e627"; }
.icon-message:before { content: "\e631"; }
.icon-my:before { content: "\e635"; }
.icon-mail:before { content: "\e62e"; }
.icon-toleft:before { content: "\e650"; }
.icon-toright:before { content: "\e651"; }
.icon-sitting:before { content: "\e64c"; }
.icon-add:before { content: "\e603"; }
.icon-tianjiashangjia:before { content: "\f00d8"; }
.icon-guanjianci:before { content: "\f0293"; }
.icon-chongzhi:before { content: "\f029c"; }
.icon-shequ:before { content: "\f02a4"; }
.icon-chucuo:before { content: "\f02a3"; }
.icon-jinggao:before { content: "\f02bc"; }
.icon-zhanshi:before { content: "\f02c6"; }
.icon-zhubaoshipin:before { content: "\3452"; }
.icon-bangzhuzhongxin:before { content: "\3469"; }
.icon-weiguanzhu:before { content: "\f0054"; }
.icon-sousuo:before { content: "\f00a8"; }
.icon-chanpincanshu:before { content: "\f00a9"; }
.icon-shoucang:before { content: "\f00af"; }
.icon-leijipingjia:before { content: "\f00b1"; }
.icon-tianmaohuiyuan:before { content: "\f00c2"; }
.icon-xiaoxi:before { content: "\f00bc"; }
.icon-wodehuiyuanqia:before { content: "\f00ba"; }
.icon-wo:before { content: "\f00f3"; }
.icon-dianzan:before { content: "\f010d"; }
.icon-mima:before { content: "\f0109"; }
.icon-tianmaobao:before { content: "\f011c"; }
.icon-chakan:before { content: "\f0149"; }
.icon-warning:before { content: "\e6b6"; }
.icon-success:before { content: "\e6b1"; }
