/**
 *
 * Apply your custom CSS here
 *
*/

body {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

a {
}

.footer-text{
    width: 100%;
}

.form-group .pd-15{
    padding: 0 15px;
}

.skin-white .sidebar-menu.fixed .sidebar-menu-inner{
    background: #fff;
}
.sub-span{
    text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
    max-width: 200px;

}

.mg-t-10{
    margin-top: 10px;
}
.mg-t-20{
    margin-top: 20px;
}

.fz-18{
    font-size: 18px;
    line-height: 18px;
}
.fz-16{
    font-size: 16px;
    line-height: 16px;
}
.fz-14{
    font-size: 14px;
    line-height: 14px;
}
.red{
    color: red;
}
.green{
    color: green;
}

.search-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.search-select{
    width: 100%;
    min-height: 200px;

}

.search-c-btn{
    position: absolute;
    top:90px;
    left: -20px;
}
.search-c-btn .btn{
    margin-bottom: 0;
}
.image-gallery{

}
.image-gallery img{
    width: 100px;
    height: 100px;
    vertical-align: middle;

}
.image-gallery ul{
    list-style-type: none;
}
.image-gallery ul li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.tool-btn{
    margin-bottom: -30px;
}